h1{
  font-weight: bold;
}
.mt-100{
  margin-top: 50px;
}

#bast{
  padding: 20px;
}
.bast {
  position: relative;
  background-color:#fff;
  min-height: 680px;
  padding: 15px;
}
.name a{
  color: #ff8000;
  font-weight: bold;
}

.bast header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 5px solid #3989c6
}

#logosiplah{
  text-align: right;
  margin-top: 20px;
}
#judul{
  text-align: center;
}
#nomortransaksi{
  float: left;
  font-weight: bold;
}
#nomortransaksi span{
  width: 150px;
  font-weight: initial;
  text-align:left;
  margin-right: 20px;
  display: inline-block;
}
.user{
  margin-left: 100px;
}
.rowvalue{
  font-weight: bold;
}

.tandatangan{
  margin-top: 50px;
}

.mt-18{
  margin-top: 150px;
}
.blockquote{
  padding: 10px;
}